@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { 
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #bbb; 
}
 
::-webkit-scrollbar-thumb {
  background: #5a17ee; 
}

::-webkit-scrollbar-thumb:hover {
  background: #450bc4; 
}

.btn {
  @apply  inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded shadow-sm text-white bg-primary hover:bg-secondary transition duration-200
}